form {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-type-selector {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    align-self: center;
    width: 50%;
    margin: 20px;
}

.file-type {
    padding: 10px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    margin: 0;
}

.selected {
    background-color: lightskyblue;
    color: white;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
}

input[type="submit"] {
    background-color: lightskyblue;
    color: white;
    cursor: pointer;
}

div {
    margin: 10px;
}

img {
    height: 15px;
    width: 15px;
    align-self: flex-end;
    padding: 15px;
}
